*[hidden] {
  display: none !important;
}

html {
  background: #0f4a73;
  color: white;
  min-height: 100vmin;
  /* TODO: include Roboto via Web Fonts */
  font-family: 'Roboto', 'Helvetica Neue', 'Gill Sans', 'Arial', Sans-Serif;
}

html.enabled {
  background: black;
  overflow: hidden;
}

body {
  min-height: 100vh;
  height: 100vmin;
  position: relative;
  margin: 0;
  overflow: hidden;
}

#enter {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}

#enter hr {
  visibility: hidden;
  flex-grow: 1;
  height: 0;
  margin: 0;
}

footer {
  padding: 12px;
  margin: 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.125);
  border: 2px solid rgba(0, 0, 0, 0.25);
  max-width: 400px;
  align-self: center;
}

p {
  margin: 8px;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
}

p strong {
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #1f9cf1;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: underline;
}

form {
  position: relative;
  display: flex;
  min-height: 100vmin;
  line-height: 100vmin;
  font-size: 50vmin;
  align-items: stretch;
  text-shadow: 0 6px 2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}
@media (min-height: 320px) {
  form {
    min-height: 200px;
    line-height: 200px;
    font-size: 100px;
  }
}
@media (max-width: 767px) {
  form {
    font-size: 60px;
  }
}
@media (max-width: 399px) {
  form {
    font-size: 40px;
  }
}


input {
  font: inherit;
  color: inherit;
  background: rgba(255, 255, 255, 0.125);
  border: 0;
  text-align: left;
  flex-grow: 1;
  padding: 0;
  -moz-resize: none;
  resize: none;
  padding-left: 3vw;
  width: 0;
  transition: box-shadow 0.25s;
  text-shadow: inherit;
}

input::-webkit-input-placeholder {
  color: inherit;
  text-align: center;
  opacity: 0.25;
  text-shadow: inherit;
}
input::placeholder {
  color: inherit;
  text-align: center;
  opacity: 0.25;
  text-shadow: inherit;
}

input[type="text"]::selection {
  border-radius: 10px;
  background: #1f9bf1;
  color: white;
}

input[type="text"]:focus {
  outline: 0;
  box-shadow: inset 2vw 0 0 0 rgba(255, 255, 255, 0.5);
}

.buttons {
  width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

button,
input[type="reset"] {
  text-align: center;
  display: block;
  flex-grow: 1;
  text-shadow: inherit;
  background: rgba(0, 0, 0, 0.125);
  border: 0;
  font: inherit;
  line-height: 0.5em;
  color: inherit;
  padding: 0;
  transition: box-shadow 0.25s, opacity 0.25s;
  width: 100%;
}
button:nth-child(even),
input[type="reset"]:nth-child(even) {
  background: rgba(0, 0, 0, 0.175);
}
button.small,
input[type="reset"].small {
  flex-grow: 0.5;
  font-size: 0.75em;
}

button:disabled,
input[type="reset"]:disabled {
  opacity: 0.5;
  cursor: default;
}

button:focus,
input[type="reset"]:focus {
  outline: 0;
  box-shadow: inset -2vw 0 0 0 rgba(255, 255, 255, 0.5);
}

#showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 20vmin;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  margin: 0 -0.25ch;
  width: calc(100vmax + 0.5ch);
  min-height: 100vmin;
}
#showcase span {
  letter-spacing: -2px;
  text-align: center;
  padding: 0 0.25ch;
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  max-width: 100vmax;
  position: relative;

  /** not supported in Chrome or webkit */
  text-shadow: 0 0 0 1vmin rgba(0, 0, 0, 0.75);
}
#showcase span::after {
  /** supported in Chrome and webkit! :D */
  -webkit-text-stroke-width: 2vmin;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.75);
  color: transparent;
  z-index: -1;
  content: attr(data-text);
  position: absolute;
  top: 0;
  padding: inherit;
  left: 0;
}

.rotate {
  transform: rotate(90deg) translateX(100%);
  transform-origin: top right;
}
